# Firebase configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDgBnKVHST4h1YgVU8a5qf052Stz-vVYpw
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=plovo-56748.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=plovo-56748
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=plovo-56748.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=700641536184
NEXT_PUBLIC_FIREBASE_APP_ID=1:700641536184:web:f9a07046ccbbeab44d6c4d
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-EGVLWG2NT0

# Firebase Admin SDK (Service Account JSON - get from Firebase Console > Project Settings > Service Accounts)
FIREBASE_SERVICE_ACCOUNT_KEY={"type":"service_account","project_id":"plovo-56748","private_key_id":"","private_key":"","client_email":"","client_id":"","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token"}

# Unsplash API key
NEXT_PUBLIC_UNSPLASH_ACCESS_KEY=N6QOfki_aI9NM0ZbyXCAZVmylJLh0xzUB8g-3S1d46w

# App base url
NEXT_PUBLIC_APP_URL=http://localhost:3000
